{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.9.0"},
  {jsx, "~> 3.0"},
  {riakc, ".*", {git, "https://github.com/TylerEnglish/riak-erlang-client.git", {branch, "develop-3.0"}}},
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {ranch, "1.7.1"},
  {lager, "3.9.2"} 
]}.

{shell, [
  {apps, [kernel, stdlib, tracker_business_logic]}
]}.

{test, [
  {tools, [eunit]}
]}.
